# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.spec
*.exe
URL-Inspector/

# Extension builds
url-inspector-*.zip
web-ext-artifacts/
*.xpi

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/